<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE NodeGraphicsItem>
<listOfRenderInformation xmlns="http://projects.eml.org/bcb/sbml/render/level2">
    <renderInformation id="TinkerCell_Style" programName="TinkerCell">
        <listOfColorDefinitions>
            <colorDefinition id="shape0color" value="#40e0ff" alpha="78"/>
        </listOfColorDefinitions>
        <listOfStyles>
            <style idList="module" width="360" height="300">
                <g>
                    <rectangle x="0%" y="0%" width="100" height="100" rx="35" ry="35" fill="shape0color" stroke="#2da0b4" stroke-width="2" stroke-alpha="1"/>
                </g>
            </style>
        </listOfStyles>
    </renderInformation>
</listOfRenderInformation>
