<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE PartGraphicsItem>
<PartGraphicsItem version="1.0" filename="D:/C++ Projects/Tinkercell/PartItems/Module.xml" width="400" height="260">
    <ControlPoints>
        <ControlPoint x="38" y="120"></ControlPoint>
        <ControlPoint x="309" y="120"></ControlPoint>
        <ControlPoint x="309" y="354"></ControlPoint>
        <ControlPoint x="38" y="354"></ControlPoint>
    </ControlPoints>
    <Shapes>
        <Shape Negative="0">
            <ControlPoints indices="0,1,2,3,0"></ControlPoints>
            <LineTypes sequence="line,line,line,line,line"></LineTypes>
            <Parameters values=""></Parameters>
            <Pen Width="2" Color="#6464ff" Alpha="255"></Pen>
            <Gradient Type="0">
                <Stop Value="0" Color="#ddebff" Alpha="0"></Stop>
                <Stop Value="1" Color="#5a65ff" Alpha="96"></Stop>
                <Start x="181" y="230"></Start>
                <End x="186" y="344"></End>
            </Gradient>
        </Shape>
    </Shapes>
</PartGraphicsItem>
